<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.5.57">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<meta name="description" content="Epidemiologist | PhD researcher | Machine learning, computational metabolomics">

<title>Work – Yingxiao Yan </title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ 
  vertical-align: middle;
}
</style>


<script src="site_libs/quarto-nav/quarto-nav.js"></script>
<script src="site_libs/clipboard/clipboard.min.js"></script>
<script src="site_libs/quarto-search/autocomplete.umd.js"></script>
<script src="site_libs/quarto-search/fuse.min.js"></script>
<script src="site_libs/quarto-search/quarto-search.js"></script>
<meta name="quarto:offset" content="./">
<link href="./img/archery.jpg" rel="icon" type="image/jpeg">
<script src="site_libs/quarto-html/quarto.js"></script>
<script src="site_libs/quarto-html/popper.min.js"></script>
<script src="site_libs/quarto-html/tippy.umd.min.js"></script>
<script src="site_libs/quarto-html/anchor.min.js"></script>
<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">
<script src="site_libs/bootstrap/bootstrap.min.js"></script>
<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/all.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css" rel="stylesheet">
<script src="site_libs/quarto-contrib/glightbox/glightbox.min.js"></script>
<link href="site_libs/quarto-contrib/glightbox/glightbox.min.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/glightbox/lightbox.css" rel="stylesheet">
<script id="quarto-search-options" type="application/json">{
  "location": "navbar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "end",
  "type": "textbox",
  "limit": 50,
  "keyboard-shortcut": [
    "f",
    "/",
    "s"
  ],
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-text-placeholder": "",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}</script>
<style>html{ scroll-behavior: smooth; }</style>
<style>

      .quarto-title-block .quarto-title-banner h1,
      .quarto-title-block .quarto-title-banner h2,
      .quarto-title-block .quarto-title-banner h3,
      .quarto-title-block .quarto-title-banner h4,
      .quarto-title-block .quarto-title-banner h5,
      .quarto-title-block .quarto-title-banner h6
      {
        color: white;
      }

      .quarto-title-block .quarto-title-banner {
        color: white;
      }
</style>


<link rel="stylesheet" href="styles.scss">
<meta property="og:title" content="Work – Yingxiao Yan ">
<meta property="og:description" content="Academic | Industry | leadership | Self-development">
<meta property="og:image" content="https://yingxiaoyan.gitlab.io/YingxiaoYan.com/img/archery.jpg">
<meta property="og:site_name" content="Yingxiao Yan {{< fa brands gitlab >}}">
</head>

<body class="floating nav-fixed slimcontent">

<div id="quarto-search-results"></div>
  <header id="quarto-header" class="headroom fixed-top quarto-banner">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
      <div class="navbar-container container-fluid">
      <div class="navbar-brand-container mx-auto">
    <a href="./index.html" class="navbar-brand navbar-brand-logo">
    <img src="./img/formal.jpg" alt="" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="./index.html">
    <span class="navbar-title">Yingxiao Yan <i class="fa-brands fa-gitlab" aria-label="gitlab"></i></span>
    </a>
  </div>
            <div id="quarto-search" class="" title="Search"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" role="menu" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">
  <span class="navbar-toggler-icon"></span>
</button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
  <li class="nav-item">
    <a class="nav-link" href="./education.html"> 
<span class="menu-text">Education</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link active" href="./about.html" aria-current="page"> 
<span class="menu-text">Work</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./project.html"> 
<span class="menu-text">Projects</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./pub_ho.html"> 
<span class="menu-text">Publications/Honors</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./CV.html"> 
<span class="menu-text">CV</span></a>
  </li>  
</ul>
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
  <li class="nav-item compact">
    <a class="nav-link" href="https://yingxiaoyan.gitlab.io/YingxiaoYan.com" target="_blank"> <i class="bi bi-folder-symlink" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="https://www.linkedin.com/in/yingxiao-yan" target="_blank"> <i class="bi bi-linkedin" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="mailto:yingxiao.yan.007@gmail.com" target="_blank"> <i class="bi bi-envelope" role="img" aria-label="email">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="nav-menu-get-in-touch" role="link" data-bs-toggle="dropdown" aria-expanded="false">
 <span class="menu-text">get in touch!</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-menu-get-in-touch">    
        <li>
    <a class="dropdown-item" href="https://www.linkedin.com/in/yingxiao-yan/" target="_blank"><i class="bi bi-linkedin" role="img">
</i> 
 <span class="dropdown-text">Linkedin</span></a>
  </li>  
        <li>
    <a class="dropdown-item" href="mailto:yingxiao.yan.007@gmail.com"><i class="bi bi-envelope" role="img">
</i> 
 <span class="dropdown-text">email</span></a>
  </li>  
    </ul>
  </li>
</ul>
          </div> <!-- /navcollapse -->
            <div class="quarto-navbar-tools">
</div>
      </div> <!-- /container-fluid -->
    </nav>
</header>
<!-- content -->
<header id="title-block-header" class="quarto-title-block default toc-left page-columns page-full">
  <div class="quarto-title-banner page-columns page-full">
    <div class="quarto-title column-body">
      <h1 class="title">Work</h1>
            <p class="subtitle lead">Academic | Industry | leadership | Self-development</p>
                      </div>
  </div>
    
  
  <div class="quarto-title-meta column-body">

      
    
      
    </div>
    
  
  </header><div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-full page-navbar">
<!-- sidebar -->
  <nav id="quarto-sidebar" class="sidebar collapse collapse-horizontal quarto-sidebar-collapse-item sidebar-navigation floating overflow-auto">
    <nav id="TOC" role="doc-toc" class="toc-active">
    <h2 id="toc-title">Awesome me</h2>
   
  <ul>
  <li><a href="#academic" id="toc-academic" class="nav-link active" data-scroll-target="#academic"><i class="fa-solid fa-chalkboard-user" title="academic" aria-label="chalkboard-user"></i> Academic</a></li>
  <li><a href="#leadership" id="toc-leadership" class="nav-link" data-scroll-target="#leadership"><i class="fa-solid fa-people-group" title="A person with a backpack and trekking pol" aria-label="people-group"></i> Leadership</a></li>
  <li><a href="#industry" id="toc-industry" class="nav-link" data-scroll-target="#industry"><i class="fa-solid fa-industry" title="A person with a backpack and trekking " aria-label="industry"></i> Industry</a></li>
  <li><a href="#teaching" id="toc-teaching" class="nav-link" data-scroll-target="#teaching"><i class="fa-solid fa-chalkboard-user" title="academic" aria-label="chalkboard-user"></i> Teaching</a></li>
  </ul>
<div class="toc-actions"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/about.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/about.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></nav>
</nav>
<div id="quarto-sidebar-glass" class="quarto-sidebar-collapse-item" data-bs-toggle="collapse" data-bs-target=".quarto-sidebar-collapse-item"></div>
<!-- margin-sidebar -->
    <div id="quarto-margin-sidebar" class="sidebar margin-sidebar zindex-bottom">
    </div>
<!-- main -->
<main class="content quarto-banner-title-block page-columns page-full column-body" id="quarto-document-content">






<div class="no-row-height column-margin column-container"><div class="">
<p><a href="img/formal.jpg" class="lightbox" data-gallery="quarto-lightbox-gallery-1"><img src="img/formal.jpg" class="img-fluid" width="200"></a></p>
</div></div><div class="small-text">
<p>Check out my <a href="./CV.html" target="_blank">CV</a>.</p>
</div>
<section id="academic" class="level3">
<h3 class="anchored" data-anchor-id="academic"><i class="fa-solid fa-chalkboard-user" title="academic" aria-label="chalkboard-user"></i> Academic</h3>
<p>Check out my <a href="./project.html" target="_blank">projects</a>.</p>
</section>
<section id="leadership" class="level3">
<h3 class="anchored" data-anchor-id="leadership"><i class="fa-solid fa-people-group" title="A person with a backpack and trekking pol" aria-label="people-group"></i> Leadership</h3>
<p><strong class="orangecolor">Vice chair</strong> - <a href="https://www.dokt.chs.chalmers.se/" target="_blank">Chalmers Doctoral Student Guild (Doktorandsektionen) </a><a><br></a></p><a>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><em>Chalmers University of Technology, Göteborg, Sweden </em></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor"> Sep 2022 – Dec 2024</strong></p>
</div>
</div>
<ul>
<li>
Served as Financial Officer, managing budget and overseeing financial operations
</li>
<li>
Planned and executed introduction days for new PhD students, facilitating their integration into Chalmers
</li>
<li>
Led internal management and coordination efforts to enhance organizational efficiency
</li>
<li>
Contributed to strategic decision-making and represent doctoral students’ interests in university matters
</li>
</ul>
<p><strong class="orangecolor">Chair</strong> - PhD council in the Department of Life Sciences and Chemistry</p>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><em>Chalmers University of Technology, Göteborg, Sweden </em></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor"> Sep 2022 – Dec 2024</strong></p>
</div>
</div>
<ul>
<li>
Represented Life Sciences and Chemistry doctoral students in university-wide discussions, advocating for their interests in strategic decisions
</li>
<li>
Led internal council meetings, facilitating effective communication and decision-making processes
</li>
<li>
Oversaw council recruitment and manage administrative aspects, ensuring smooth operations
</li>
<li>
Planned and executed academic and social events, fostering a collaborative community among doctoral students
</li>
</ul>
</a></section><a>
</a><section id="industry" class="level3"><a>
<h3 class="anchored" data-anchor-id="industry"><i class="fa-solid fa-industry" title="A person with a backpack and trekking " aria-label="industry"></i> Industry</h3>
</a><div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;"><a>
</a><div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;"><a>
</a><p><a><strong class="orangecolor">Data manager </strong> - </a><a href="https://storiestoaction.com/" target="_blank">Stories to Action (part-time)</a></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor">Aug 2020 – June 2021</strong></p>
</div>
</div>
<p><em>Malmö, Sweden</em></p>
<ul>
<li>
Conducted literature reviews and designed comprehensive questionnaires
</li>
<li>
Developed and implemented data management and analysis strategies
</li>
<li>
Coordinated team efforts through regular meetings on data collection, analysis, and reporting
</li>
</ul>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="orangecolor">Health economic intern </strong> -<a href="http://medow.se/" target="_blank"> Medow AB </a></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor">Oct 2020 – Nov 2020 </strong></p>
</div>
</div>
<p><em> Lund, Sweden</em></p>
<ul>
<li>
Conducted comprehensive literature review on peripheral venous catheter (PVC) securement devices
</li>
<li>
Collaborated with clinical experts and statisticians to develop a clinical trial protocol, evaluating Medow’s PVC securement device effectiveness in reducing PVC failure rates among hospitalized adults
</li>
<li>
Designed a health economic evaluation plan to assess the cost-effectiveness of Medow’s product
</li>
</ul>
<p><strong class="orangecolor">Research Intern </strong>- <a href="http://www.njcdc.cn/" target="_blank">Nanjing Center for Disease Prevention and Control</a></p>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><em>Nanjing, China </em></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor">Sep 2018 – Oct 2018</strong></p>
</div>
</div>
<ul>
<li>
Analyzed and visualized data using R Studio to investigate the correlation between outdoor activities and myopia progression among Nanjing teenagers
</li>
<li>
Participated in field research, collecting water samples in rural areas for pathogen detection in infectious disease studies
</li>
<li>
Conducted community-based interviews to assess residents’ access to local public health services
</li>
</ul>
</section>
<section id="teaching" class="level3">
<h3 class="anchored" data-anchor-id="teaching"><i class="fa-solid fa-chalkboard-user" title="academic" aria-label="chalkboard-user"></i> Teaching</h3>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="orangecolor"><a href="https://www.chalmers.se/en/education/your-studies/find-course-and-programme-syllabi/course-syllabus/BBT020/?acYear=2023/2024" target="_blank">Advanced bioanalytical chemistry: metabolomics and proteomics</a> </strong></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor"> May 2023</strong></p>
</div>
</div>
<p><em>Chalmers University of Technology, Göteborg, Sweden </em></p>
<ul>
<li>
Assisted in delivering lectures and facilitating computer lab sessions
</li>
<li>
Developed and prepared comprehensive materials for computer labs, ensuring effective hands-on learning experiences
</li>
</ul>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="orangecolor"><a href="https://www.chalmers.se/en/education/your-studies/find-course-and-programme-syllabi/course-syllabus/BBT020/?acYear=2023/2024" target="_blank">Biostatistics</a> </strong></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor"> Sep 2024 - Dec 2024 </strong></p>
</div>
</div>
<p><em>Chalmers University of Technology, Göteborg, Sweden </em></p>
<ul>
<li>
To be written
</li>
<li>
To be written
</li>
<li>
To be written
</li>
</ul>
<!-- ###  Self development -->
<!-- To be written -->


</section>

</main> <!-- /main -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
    var localhostRegex = new RegExp(/^(?:http|https):\/\/localhost\:?[0-9]*\//);
    var mailtoRegex = new RegExp(/^mailto:/);
      var filterRegex = new RegExp("https:\/\/yingxiaoyan\.gitlab\.io\/YingxiaoYan\.com\/");
    var isInternal = (href) => {
        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);
    }
    // Inspect non-navigation links and adorn them if external
 	var links = window.document.querySelectorAll('a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool):not(.about-link)');
    for (var i=0; i<links.length; i++) {
      const link = links[i];
      if (!isInternal(link.href)) {
        // undo the damage that might have been done by quarto-nav.js in the case of
        // links that we want to consider external
        if (link.dataset.originalHref !== undefined) {
          link.href = link.dataset.originalHref;
        }
      }
    }
  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {
    const config = {
      allowHTML: true,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start',
    };
    if (contentFn) {
      config.content = contentFn;
    }
    if (onTriggerFn) {
      config.onTrigger = onTriggerFn;
    }
    if (onUntriggerFn) {
      config.onUntrigger = onUntriggerFn;
    }
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      // use id or data attribute instead here
      let href = ref.getAttribute('data-footnote-href') || ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      if (note) {
        return note.innerHTML;
      } else {
        return "";
      }
    });
  }
});
</script>
</div> <!-- /content -->
<footer class="footer">
  <div class="nav-footer">
    <div class="nav-footer-left">
<p><span class="faux-block">© 2024 Yingxiao Yan CC BY-SA 4.0</span></p>
</div>   
    <div class="nav-footer-center">
<p><span class="faux-block"><a href="https://gitlab.com/YingxiaoYan" target="_blank">My gitlab</a></span></p>
<div class="toc-actions d-sm-block d-md-none"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/about.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/about.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></div>
    <div class="nav-footer-right">
<p><span class="faux-block cyan"><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com" target="_blank">View source on GitLab</a></span></p>
</div>
  </div>
</footer>
<script>var lightboxQuarto = GLightbox({"openEffect":"zoom","descPosition":"bottom","closeEffect":"zoom","loop":false,"selector":".lightbox"});
(function() {
  let previousOnload = window.onload;
  window.onload = () => {
    if (previousOnload) {
      previousOnload();
    }
    lightboxQuarto.on('slide_before_load', (data) => {
      const { slideIndex, slideNode, slideConfig, player, trigger } = data;
      const href = trigger.getAttribute('href');
      if (href !== null) {
        const imgEl = window.document.querySelector(`a[href="${href}"] img`);
        if (imgEl !== null) {
          const srcAttr = imgEl.getAttribute("src");
          if (srcAttr && srcAttr.startsWith("data:")) {
            slideConfig.href = srcAttr;
          }
        }
      } 
    });
  
    lightboxQuarto.on('slide_after_load', (data) => {
      const { slideIndex, slideNode, slideConfig, player, trigger } = data;
      if (window.Quarto?.typesetMath) {
        window.Quarto.typesetMath(slideNode);
      }
    });
  
  };
  
})();
          </script>




<script src="site_libs/quarto-html/zenscroll-min.js"></script>
</body></html>