<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.5.57">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<meta name="description" content="Epidemiologist | PhD researcher | Machine learning, computational metabolomics">

<title>Education – Yingxiao Yan </title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ 
  vertical-align: middle;
}
</style>


<script src="site_libs/quarto-nav/quarto-nav.js"></script>
<script src="site_libs/clipboard/clipboard.min.js"></script>
<script src="site_libs/quarto-search/autocomplete.umd.js"></script>
<script src="site_libs/quarto-search/fuse.min.js"></script>
<script src="site_libs/quarto-search/quarto-search.js"></script>
<meta name="quarto:offset" content="./">
<link href="./img/archery.jpg" rel="icon" type="image/jpeg">
<script src="site_libs/quarto-html/quarto.js"></script>
<script src="site_libs/quarto-html/popper.min.js"></script>
<script src="site_libs/quarto-html/tippy.umd.min.js"></script>
<script src="site_libs/quarto-html/anchor.min.js"></script>
<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">
<script src="site_libs/bootstrap/bootstrap.min.js"></script>
<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/all.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css" rel="stylesheet">
<script id="quarto-search-options" type="application/json">{
  "location": "navbar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "end",
  "type": "textbox",
  "limit": 50,
  "keyboard-shortcut": [
    "f",
    "/",
    "s"
  ],
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-text-placeholder": "",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}</script>
<style>html{ scroll-behavior: smooth; }</style>
<style>

      .quarto-title-block .quarto-title-banner h1,
      .quarto-title-block .quarto-title-banner h2,
      .quarto-title-block .quarto-title-banner h3,
      .quarto-title-block .quarto-title-banner h4,
      .quarto-title-block .quarto-title-banner h5,
      .quarto-title-block .quarto-title-banner h6
      {
        color: white;
      }

      .quarto-title-block .quarto-title-banner {
        color: white;
      }
</style>


<link rel="stylesheet" href="styles.scss">
<meta property="og:title" content="Education – Yingxiao Yan ">
<meta property="og:description" content="Public health | Epidemiology | Machine learning | Computational metabolomics">
<meta property="og:image" content="https://yingxiaoyan.gitlab.io/YingxiaoYan.com/img/archery.jpg">
<meta property="og:site_name" content="Yingxiao Yan {{< fa brands gitlab >}}">
</head>

<body class="nav-fixed">

<div id="quarto-search-results"></div>
  <header id="quarto-header" class="headroom fixed-top quarto-banner">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
      <div class="navbar-container container-fluid">
      <div class="navbar-brand-container mx-auto">
    <a href="./index.html" class="navbar-brand navbar-brand-logo">
    <img src="./img/formal.jpg" alt="" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="./index.html">
    <span class="navbar-title">Yingxiao Yan <i class="fa-brands fa-gitlab" aria-label="gitlab"></i></span>
    </a>
  </div>
            <div id="quarto-search" class="" title="Search"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" role="menu" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">
  <span class="navbar-toggler-icon"></span>
</button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
  <li class="nav-item">
    <a class="nav-link active" href="./education.html" aria-current="page"> 
<span class="menu-text">Education</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./about.html"> 
<span class="menu-text">Work</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./project.html"> 
<span class="menu-text">Projects</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./pub_ho.html"> 
<span class="menu-text">Publications/Honors</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./CV.html"> 
<span class="menu-text">CV</span></a>
  </li>  
</ul>
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
  <li class="nav-item compact">
    <a class="nav-link" href="https://yingxiaoyan.gitlab.io/YingxiaoYan.com" target="_blank"> <i class="bi bi-folder-symlink" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="https://www.linkedin.com/in/yingxiao-yan" target="_blank"> <i class="bi bi-linkedin" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="mailto:yingxiao.yan.007@gmail.com" target="_blank"> <i class="bi bi-envelope" role="img" aria-label="email">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="nav-menu-get-in-touch" role="link" data-bs-toggle="dropdown" aria-expanded="false">
 <span class="menu-text">get in touch!</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-menu-get-in-touch">    
        <li>
    <a class="dropdown-item" href="https://www.linkedin.com/in/yingxiao-yan/" target="_blank"><i class="bi bi-linkedin" role="img">
</i> 
 <span class="dropdown-text">Linkedin</span></a>
  </li>  
        <li>
    <a class="dropdown-item" href="mailto:yingxiao.yan.007@gmail.com"><i class="bi bi-envelope" role="img">
</i> 
 <span class="dropdown-text">email</span></a>
  </li>  
    </ul>
  </li>
</ul>
          </div> <!-- /navcollapse -->
            <div class="quarto-navbar-tools">
</div>
      </div> <!-- /container-fluid -->
    </nav>
</header>
<!-- content -->
<header id="title-block-header" class="quarto-title-block default page-columns page-full">
  <div class="quarto-title-banner page-columns page-full">
    <div class="quarto-title column-page">
      <h1 class="title">Education</h1>
            <p class="subtitle lead">Public health | Epidemiology | Machine learning | Computational metabolomics</p>
                      </div>
  </div>
    
  
  <div class="quarto-title-meta column-page">

      
    
      
    </div>
    
  
  </header><div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-full page-navbar">
<!-- sidebar -->
<!-- margin-sidebar -->
    
<!-- main -->
<main class="content quarto-banner-title-block column-page" id="quarto-document-content">





<section id="education" class="level3">
<h3 class="anchored" data-anchor-id="education"><i class="fa-solid fa-school" aria-label="school"></i> Education</h3>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="orangecolor" style="display: inline-block;">PhD in Computational Metabolomics and Exposomics</strong></p>
</div>
<div style="width: 50%; text-align: right; margin: 0; padding: 0; border: 0; white-space: nowrap;">
<p><strong class="greencolor" style="display: inline-block;">Jun 2021-now</strong></p>
</div>
</div>
<em>Food and Nutrition Science division, Department of Life Sciences, Chalmers University of Technology</em><br> <strong>PhD focus - Impact of combined Exposures on Metabolic Health (ICE)</strong>:
<p style="margin-left: 30px;">
</p><p>Combining machine learning and epidemiological modeling,my research focuses on evaluating how combined environmental exposures (e.g.&nbsp;diet, microbiota, and pollutants) regulate metabolic pathways and how that regulation, in turn, relates to non-communicable diseases.</p>
<ul>
<li>Develop and maintain tools for Omics Data analysis (R package for variable selection) and visualization (Rshiny application)</li>
<li>Perform molecular epidemiology and machine learning modelling on Omics data to identify Omics features that are associated with specified exposures and disease outcomes</li>
<li>Analyze and visualize the relationships between high‑dimensional Omics data, exposome and outcome data, using multiple cohorts for discovery and replication</li>
<li>Coordinate efforts for data acquisition, manage project administration, organize academic seminar in the division, participate in postdoc grant writing</li>
</ul>
<p></p>
<hr>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;margin: 0; padding: 0; border: 0;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0;">
<p><strong class="orangecolor">Master’s in Public Health </strong></p>
</div>
<div style="width: 50%;  text-align: right; margin: 0; padding: 0; border: 0;">
<p><strong class="greencolor">Sep 2019 – Jun 2021</strong></p>
</div>
</div>
<p><em>Faculty of Medicine, Lund University (LU), Sweden</em> <br> <strong>Relevant Courses:</strong> Applied Research Methods; Epidemiology; Biostatistics; Qualitative Research Methods; Cost-effectiveness and Impact Evaluation of Health Interventions; Public Health Nutrition; Health Policy; Leadership and Professional Perspectives on Public Health <br> <strong>Thesis:</strong> The association between plasma metabolites’ levels measured earlier in life and the future risk of all-cause mortality in Malmö’s population</p>
<hr>
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;margin: 0; padding: 0; border: 0;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0;">
<p><strong class="orangecolor">Course:Environmental Epidemiology</strong></p>
</div>
<div style="width: 50%;  text-align: right; margin: 0; padding: 0; border: 0;">
<p><strong class="greencolor">Feb 2021 – Mar 2020</strong></p>
</div>
</div>
<p><em>Ludwig-Maximilians-Universität München, Germany </em> <br></p>
<hr>
<!-- ::: {style="display: flex; justify-content: space-between; align-items: center; width: 100%;margin: 0; padding: 0; border: 0;"} -->
<!-- ::: {style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0;"} -->
<!-- <strong class="orangecolor">Biomedical Data processing and Global Aspects of COVID-19</strong>  -->
<!-- ::: -->
<!-- ::: {style="width: 50%;  text-align: right; margin: 0; padding: 0; border: 0;"} -->
<!-- <strong class="greencolor">Jul 2020 – Jul 2020</strong>  -->
<!-- ::: -->
<!-- ::: -->
<!-- <em>University of Szeged, Hungaryy </em> <br />  -->
<!-- <strong>Grade:</strong> 94/100 -->
<!-- <hr /> -->
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;margin: 0; padding: 0; border: 0;">
<div style="width: 50%; text-align: left; margin: 0; padding: 0; border: 0;">
<p><strong class="orangecolor">Bachelor’s in Chemistry, Minor in Life Science </strong></p>
</div>
<div style="width: 50%;  text-align: right; margin: 0; padding: 0; border: 0;">
<p><strong class="greencolor">Sep 2015 – Jun 2019</strong></p>
</div>
</div>
<p><em>School of Chemistry and Chemical engineering, Nanjing University (NJU), China</em><br> <strong>GPA:</strong> 4.49/5.00 (3.61/4.00) <br> <strong>Relevant courses:</strong> Biostatistics; Biochemistry; Genetics; Cell Biology; Molecular biology; Evolutional Biology; Environmentology; Pharmaceutics Experiments; Physiology; Immunology <br> <strong>Thesis:</strong> The Preparation of PMP Hollow Fiber Membrane and Surface Modification Applying in Artificial Lung</p>


</section>

</main> <!-- /main -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
    var localhostRegex = new RegExp(/^(?:http|https):\/\/localhost\:?[0-9]*\//);
    var mailtoRegex = new RegExp(/^mailto:/);
      var filterRegex = new RegExp("https:\/\/yingxiaoyan\.gitlab\.io\/YingxiaoYan\.com\/");
    var isInternal = (href) => {
        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);
    }
    // Inspect non-navigation links and adorn them if external
 	var links = window.document.querySelectorAll('a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool):not(.about-link)');
    for (var i=0; i<links.length; i++) {
      const link = links[i];
      if (!isInternal(link.href)) {
        // undo the damage that might have been done by quarto-nav.js in the case of
        // links that we want to consider external
        if (link.dataset.originalHref !== undefined) {
          link.href = link.dataset.originalHref;
        }
      }
    }
  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {
    const config = {
      allowHTML: true,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start',
    };
    if (contentFn) {
      config.content = contentFn;
    }
    if (onTriggerFn) {
      config.onTrigger = onTriggerFn;
    }
    if (onUntriggerFn) {
      config.onUntrigger = onUntriggerFn;
    }
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      // use id or data attribute instead here
      let href = ref.getAttribute('data-footnote-href') || ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      if (note) {
        return note.innerHTML;
      } else {
        return "";
      }
    });
  }
});
</script>
</div> <!-- /content -->
<footer class="footer">
  <div class="nav-footer">
    <div class="nav-footer-left">
<p><span class="faux-block">© 2024 Yingxiao Yan CC BY-SA 4.0</span></p>
</div>   
    <div class="nav-footer-center">
<p><span class="faux-block"><a href="https://gitlab.com/YingxiaoYan" target="_blank">My gitlab</a></span></p>
<div class="toc-actions"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/education.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/education.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></div>
    <div class="nav-footer-right">
<p><span class="faux-block cyan"><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com" target="_blank">View source on GitLab</a></span></p>
</div>
  </div>
</footer>




<script src="site_libs/quarto-html/zenscroll-min.js"></script>
</body></html>