<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.5.57">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<meta name="description" content="Epidemiologist | PhD researcher | Machine learning, computational metabolomics">

<title>Yingxiao Yan – Yingxiao Yan </title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ 
  vertical-align: middle;
}
</style>


<script src="site_libs/quarto-nav/quarto-nav.js"></script>
<script src="site_libs/clipboard/clipboard.min.js"></script>
<script src="site_libs/quarto-search/autocomplete.umd.js"></script>
<script src="site_libs/quarto-search/fuse.min.js"></script>
<script src="site_libs/quarto-search/quarto-search.js"></script>
<meta name="quarto:offset" content="./">
<link href="./img/archery.jpg" rel="icon" type="image/jpeg">
<script src="site_libs/quarto-html/quarto.js"></script>
<script src="site_libs/quarto-html/popper.min.js"></script>
<script src="site_libs/quarto-html/tippy.umd.min.js"></script>
<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">
<script src="site_libs/bootstrap/bootstrap.min.js"></script>
<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/all.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css" rel="stylesheet">
<script id="quarto-search-options" type="application/json">{
  "location": "navbar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "end",
  "type": "textbox",
  "limit": 50,
  "keyboard-shortcut": [
    "f",
    "/",
    "s"
  ],
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-text-placeholder": "",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}</script>
<style>html{ scroll-behavior: smooth; }</style>
<style>

      .quarto-title-block .quarto-title-banner h1,
      .quarto-title-block .quarto-title-banner h2,
      .quarto-title-block .quarto-title-banner h3,
      .quarto-title-block .quarto-title-banner h4,
      .quarto-title-block .quarto-title-banner h5,
      .quarto-title-block .quarto-title-banner h6
      {
        color: white;
      }

      .quarto-title-block .quarto-title-banner {
        color: white;
      }
</style>


<link rel="stylesheet" href="styles.scss">
<meta property="og:title" content="Yingxiao Yan – Yingxiao Yan ">
<meta property="og:description" content="Epidemiology | Data science | Machine learning | Computational metabolomics">
<meta property="og:image" content="https://yingxiaoyan.gitlab.io/YingxiaoYan.com/img/archery.jpg">
<meta property="og:site_name" content="Yingxiao Yan {{< fa brands gitlab >}}">
</head>

<body class="nav-fixed">

<div id="quarto-search-results"></div>
  <header id="quarto-header" class="headroom fixed-top quarto-banner">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
      <div class="navbar-container container-fluid">
      <div class="navbar-brand-container mx-auto">
    <a href="./index.html" class="navbar-brand navbar-brand-logo">
    <img src="./img/formal.jpg" alt="" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="./index.html">
    <span class="navbar-title">Yingxiao Yan <i class="fa-brands fa-gitlab" aria-label="gitlab"></i></span>
    </a>
  </div>
            <div id="quarto-search" class="" title="Search"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" role="menu" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">
  <span class="navbar-toggler-icon"></span>
</button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
  <li class="nav-item">
    <a class="nav-link" href="./education.html"> 
<span class="menu-text">Education</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./about.html"> 
<span class="menu-text">Work</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./project.html"> 
<span class="menu-text">Projects</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./pub_ho.html"> 
<span class="menu-text">Publications/Honors</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./CV.html"> 
<span class="menu-text">CV</span></a>
  </li>  
</ul>
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
  <li class="nav-item compact">
    <a class="nav-link" href="https://yingxiaoyan.gitlab.io/YingxiaoYan.com" target="_blank"> <i class="bi bi-folder-symlink" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="https://www.linkedin.com/in/yingxiao-yan" target="_blank"> <i class="bi bi-linkedin" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="mailto:yingxiao.yan.007@gmail.com" target="_blank"> <i class="bi bi-envelope" role="img" aria-label="email">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="nav-menu-get-in-touch" role="link" data-bs-toggle="dropdown" aria-expanded="false">
 <span class="menu-text">get in touch!</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-menu-get-in-touch">    
        <li>
    <a class="dropdown-item" href="https://www.linkedin.com/in/yingxiao-yan/" target="_blank"><i class="bi bi-linkedin" role="img">
</i> 
 <span class="dropdown-text">Linkedin</span></a>
  </li>  
        <li>
    <a class="dropdown-item" href="mailto:yingxiao.yan.007@gmail.com"><i class="bi bi-envelope" role="img">
</i> 
 <span class="dropdown-text">email</span></a>
  </li>  
    </ul>
  </li>
</ul>
          </div> <!-- /navcollapse -->
            <div class="quarto-navbar-tools">
</div>
      </div> <!-- /container-fluid -->
    </nav>
</header>
<!-- content -->
<header id="title-block-header" class="quarto-title-block default page-columns page-full">
  <div class="quarto-title-banner page-columns page-full">
    <div class="quarto-title column-page-left">
      <h1 class="title">Yingxiao Yan</h1>
            <p class="subtitle lead">Epidemiology | Data science | Machine learning | Computational metabolomics</p>
                      </div>
  </div>
  <div class="quarto-title-meta column-page-left">
    </div>
  </header><div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-full page-navbar">
<!-- sidebar -->
<!-- margin-sidebar -->
    <div id="quarto-margin-sidebar" class="sidebar margin-sidebar">
        <nav id="TOC" role="doc-toc" class="toc-active">
    <h2 id="toc-title">Overview</h2>
  <ul>
  <li><a href="#key-competence" id="toc-key-competence" class="nav-link active" data-scroll-target="#key-competence"><i class="fa-solid fa-toolbox" aria-label="toolbox"></i> Key competence</a></li>
  <li><a href="#my-r-packages" id="toc-my-r-packages" class="nav-link" data-scroll-target="#my-r-packages"><i class="fa-brands fa-r-project" aria-label="r-project"></i> My R packages</a>
  <ul>
  <li><a href="#triplotgui" id="toc-triplotgui" class="nav-link" data-scroll-target="#triplotgui">TriplotGUI</a></li>
  <li><a href="#muvr2" id="toc-muvr2" class="nav-link" data-scroll-target="#muvr2">MUVR2</a></li>
  <li><a href="#stattools" id="toc-stattools" class="nav-link" data-scroll-target="#stattools">StatTools</a></li>
  </ul></li>
  </ul>
<div class="toc-actions"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/index.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/index.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></nav>
    </div>
<!-- main -->
<div class="quarto-about-solana column-page-left">
  <div class="about-entity">
    <div class="entity-contents">
       <div class="about-links">
  <a href="https://www.linkedin.com/in/yingxiao-yan" class="about-link" rel="" target="_blank">
    <i class="bi bi-linkedin"></i>
     <span class="about-link-text">LinkedIn</span>
  </a>
  <a href="https://gitlab.com/YingxiaoYan/" class="about-link" rel="" target="_blank">
    <i class="bi bi-git"></i>
     <span class="about-link-text">GitLab</span>
  </a>
  <a href="mailto:yingxiao.yan.007@gmail.com" class="about-link" rel="" target="">
    <i class="bi bi-envelope"></i>
     <span class="about-link-text">Email</span>
  </a>
</div>
      <div class="about-contents"><main class="content quarto-banner-title-block column-page-left" id="quarto-document-content">

<div class="small-text">
<p>Check out my <a href="./CV.html" target="_blank">CV</a>.</p>
</div>
<section id="key-competence" class="level3">
<h3 data-anchor-id="key-competence"><i class="fa-solid fa-toolbox" aria-label="toolbox"></i> Key competence</h3>
<ul>
<li>
R | Rshiny | Rmarkdown | Quarto
</li>
<li>
Data cleaning | Analysis | Visualization | Report
</li>
<li>
Quantitative epidemiology research | Biostatistics
</li>
<li>
Machine learning | Bioinformatics | Computational metabolomics
</li>
<li>
Other programming languages: python | SAS | HTML &amp; CSS | Markdown
</li>
<li>
Git | Conda | Snakemake | Nextflow | Containers
</li>
</ul>
</section>
<section id="my-r-packages" class="level3">
<h3 data-anchor-id="my-r-packages"><i class="fa-brands fa-r-project" aria-label="r-project"></i> My R packages</h3>
<p>Check out the R packages I developed.</p>
<section id="triplotgui" class="level4">
<h4 data-anchor-id="triplotgui">TriplotGUI</h4>
<p>Ongoing project |<a href="https://yingxiao.shinyapps.io/triplotgui/" target="_blank">Application </a> | <a href="https://pubs.acs.org/doi/10.1021/acs.est.3c06388" target="_blank"> Relevant Publication </a> | <a href="https://gitlab.com/YingxiaoYan/TriplotGUI" target="_blank">GitLab</a> | <a href="https://yingxiaoyan.gitlab.io/triplotgui_tutorial" target="_blank">Website Tutorial</a></p>
<p><strong>Description:</strong></p>
<p>TriplotGUI is a molecular epidemiology toolbox derived from the triplot package. It is designed to investigate associations between exposures, Omics, and outcomes. The package provides a convenient graphical user interface, allowing users to conduct analysis and visualization without programming knowledge.</p>
<p>The TriplotGUI manuscript is currently in submission.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conceptualized and designed the toolbox’s core functionalities</li>
<li>Developed robust data analysis and visualization functions</li>
<li>Developed both UI and server components in the shiny application</li>
<li>Conducted thorough testing to ensure reliability and performance</li>
<li>Created comprehensive Quarto website tutorial</li>
</ul>
<hr>
</section>
<section id="muvr2" class="level4">
<h4 data-anchor-id="muvr2">MUVR2</h4>
<p><a href="https://cran.r-project.org/web/packages/MUVR2/index.html" target="_blank">CRAN </a> | <a href="https://academic.oup.com/bioinformaticsadvances/article/4/1/vbae051/7641000" target="_blank">Publication </a> | <a href="https://gitlab.com/YingxiaoYan/MUVR2" target="_blank">GitLab</a> | <a href="https://gitlab.com/YingxiaoYan/MUVR2/-/blob/master/inst/Tutorial/MUVR2_tutorial.pdf" target="_blank">Tutorial</a></p>
<p><strong>Description:</strong></p>
<p>The MUVR2 package performs unbiased variable selection in Omics data, identifying variables most predictive of specific exposures or outcomes. It integrates partial least squares (PLS), random forest (RF), and elastic net (EN) as core machine learning methods. MUVR2 also introduces resampling tests as an extension of permutation tests, providing a general framework for assessing modeling performance and overfitting. MUVR2 stands as a powerful tool in the field of multivariate data analysis, particularly suited for the challenges presented by high-dimensional Omics data.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Developed robust data analysis and visualization functions</li>
<li>Conducted thorough testing and published the package to CRAN</li>
<li>Created comprehensive tutorial for user guidance</li>
</ul>
<hr>
</section>
<section id="stattools" class="level4">
<h4 data-anchor-id="stattools">StatTools</h4>
<p>Ongoing project |<a href="https://gitlab.com/YingxiaoYan/StatTools" target="_blank">GitLab</a></p>
<p><strong>Description:</strong></p>
<p>The StatTools package offers a suite of convenient functions for data manipulation, statistical analysis, and visualization, designed to enhance data analysis workflows across various research projects. This versatile toolkit streamlines common tasks, making it an invaluable resource for researchers.</p>
<p>Originally forked from <a href="https://gitlab.com/CarlBrunius/StatTools" target="_blank">Carl Brunius’ StatTools</a> package, the current version has been under active development since 2022.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conceptualized and designed the toolbox’s functionalities</li>
<li>Developed robust data analysis and visualization functions</li>
<li>Continuously refined and optimized existing functions</li>
</ul>
<hr>
<p><strong>Check out a full list of my <a href="./project.html" target="_blank">projects</a>.</strong></p>


</section>
</section>
</main></div>
    </div>
    <img src="img/archery.jpg" class="about-image
  round " style="height: 15em; width: 15em;">
  </div>
</div>
 <!-- /main -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
    var localhostRegex = new RegExp(/^(?:http|https):\/\/localhost\:?[0-9]*\//);
    var mailtoRegex = new RegExp(/^mailto:/);
      var filterRegex = new RegExp("https:\/\/yingxiaoyan\.gitlab\.io\/YingxiaoYan\.com\/");
    var isInternal = (href) => {
        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);
    }
    // Inspect non-navigation links and adorn them if external
 	var links = window.document.querySelectorAll('a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool):not(.about-link)');
    for (var i=0; i<links.length; i++) {
      const link = links[i];
      if (!isInternal(link.href)) {
        // undo the damage that might have been done by quarto-nav.js in the case of
        // links that we want to consider external
        if (link.dataset.originalHref !== undefined) {
          link.href = link.dataset.originalHref;
        }
      }
    }
  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {
    const config = {
      allowHTML: true,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start',
    };
    if (contentFn) {
      config.content = contentFn;
    }
    if (onTriggerFn) {
      config.onTrigger = onTriggerFn;
    }
    if (onUntriggerFn) {
      config.onUntrigger = onUntriggerFn;
    }
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      // use id or data attribute instead here
      let href = ref.getAttribute('data-footnote-href') || ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      if (note) {
        return note.innerHTML;
      } else {
        return "";
      }
    });
  }
});
</script>
</div> <!-- /content -->
<footer class="footer">
  <div class="nav-footer">
    <div class="nav-footer-left">
<p><span class="faux-block">© 2024 Yingxiao Yan CC BY-SA 4.0</span></p>
</div>   
    <div class="nav-footer-center">
<p><span class="faux-block"><a href="https://gitlab.com/YingxiaoYan" target="_blank">My gitlab</a></span></p>
<div class="toc-actions d-sm-block d-md-none"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/index.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/index.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></div>
    <div class="nav-footer-right">
<p><span class="faux-block cyan"><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com" target="_blank">View source on GitLab</a></span></p>
</div>
  </div>
</footer>




<script src="site_libs/quarto-html/zenscroll-min.js"></script>
</body></html>