<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.5.57">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<meta name="description" content="Epidemiologist | PhD researcher | Machine learning, computational metabolomics">

<title>Projects – Yingxiao Yan </title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ 
  vertical-align: middle;
}
</style>


<script src="site_libs/quarto-nav/quarto-nav.js"></script>
<script src="site_libs/clipboard/clipboard.min.js"></script>
<script src="site_libs/quarto-search/autocomplete.umd.js"></script>
<script src="site_libs/quarto-search/fuse.min.js"></script>
<script src="site_libs/quarto-search/quarto-search.js"></script>
<meta name="quarto:offset" content="./">
<link href="./img/archery.jpg" rel="icon" type="image/jpeg">
<script src="site_libs/quarto-html/quarto.js"></script>
<script src="site_libs/quarto-html/popper.min.js"></script>
<script src="site_libs/quarto-html/tippy.umd.min.js"></script>
<script src="site_libs/quarto-html/anchor.min.js"></script>
<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">
<script src="site_libs/bootstrap/bootstrap.min.js"></script>
<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/all.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css" rel="stylesheet">
<script id="quarto-search-options" type="application/json">{
  "location": "navbar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "end",
  "type": "textbox",
  "limit": 50,
  "keyboard-shortcut": [
    "f",
    "/",
    "s"
  ],
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-text-placeholder": "",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}</script>
<style>html{ scroll-behavior: smooth; }</style>
<style>

      .quarto-title-block .quarto-title-banner h1,
      .quarto-title-block .quarto-title-banner h2,
      .quarto-title-block .quarto-title-banner h3,
      .quarto-title-block .quarto-title-banner h4,
      .quarto-title-block .quarto-title-banner h5,
      .quarto-title-block .quarto-title-banner h6
      {
        color: white;
      }

      .quarto-title-block .quarto-title-banner {
        color: white;
      }
</style>


<link rel="stylesheet" href="styles.scss">
<meta property="og:title" content="Projects – Yingxiao Yan ">
<meta property="og:description" content="My past and ongoing projects">
<meta property="og:image" content="https://yingxiaoyan.gitlab.io/YingxiaoYan.com/img/archery.jpg">
<meta property="og:site_name" content="Yingxiao Yan {{< fa brands gitlab >}}">
</head>

<body class="floating nav-fixed">

<div id="quarto-search-results"></div>
  <header id="quarto-header" class="headroom fixed-top quarto-banner">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
      <div class="navbar-container container-fluid">
      <div class="navbar-brand-container mx-auto">
    <a href="./index.html" class="navbar-brand navbar-brand-logo">
    <img src="./img/formal.jpg" alt="" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="./index.html">
    <span class="navbar-title">Yingxiao Yan <i class="fa-brands fa-gitlab" aria-label="gitlab"></i></span>
    </a>
  </div>
            <div id="quarto-search" class="" title="Search"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" role="menu" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">
  <span class="navbar-toggler-icon"></span>
</button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
  <li class="nav-item">
    <a class="nav-link" href="./education.html"> 
<span class="menu-text">Education</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./about.html"> 
<span class="menu-text">Work</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link active" href="./project.html" aria-current="page"> 
<span class="menu-text">Projects</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./pub_ho.html"> 
<span class="menu-text">Publications/Honors</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./CV.html"> 
<span class="menu-text">CV</span></a>
  </li>  
</ul>
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
  <li class="nav-item compact">
    <a class="nav-link" href="https://yingxiaoyan.gitlab.io/YingxiaoYan.com" target="_blank"> <i class="bi bi-folder-symlink" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="https://www.linkedin.com/in/yingxiao-yan" target="_blank"> <i class="bi bi-linkedin" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="mailto:yingxiao.yan.007@gmail.com" target="_blank"> <i class="bi bi-envelope" role="img" aria-label="email">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="nav-menu-get-in-touch" role="link" data-bs-toggle="dropdown" aria-expanded="false">
 <span class="menu-text">get in touch!</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-menu-get-in-touch">    
        <li>
    <a class="dropdown-item" href="https://www.linkedin.com/in/yingxiao-yan/" target="_blank"><i class="bi bi-linkedin" role="img">
</i> 
 <span class="dropdown-text">Linkedin</span></a>
  </li>  
        <li>
    <a class="dropdown-item" href="mailto:yingxiao.yan.007@gmail.com"><i class="bi bi-envelope" role="img">
</i> 
 <span class="dropdown-text">email</span></a>
  </li>  
    </ul>
  </li>
</ul>
          </div> <!-- /navcollapse -->
            <div class="quarto-navbar-tools">
</div>
      </div> <!-- /container-fluid -->
    </nav>
</header>
<!-- content -->
<header id="title-block-header" class="quarto-title-block default toc-left page-columns page-full">
  <div class="quarto-title-banner page-columns page-full">
    <div class="quarto-title column-page-right">
      <h1 class="title">Projects</h1>
            <p class="subtitle lead">My past and ongoing projects</p>
                      </div>
  </div>
    
  
  <div class="quarto-title-meta column-page-right">

      
    
      
    </div>
    
  
  </header><div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-full page-navbar">
<!-- sidebar -->
  <nav id="quarto-sidebar" class="sidebar collapse collapse-horizontal quarto-sidebar-collapse-item sidebar-navigation floating overflow-auto">
    <nav id="TOC" role="doc-toc" class="toc-active">
    <h2 id="toc-title">Projects</h2>
   
  <ul>
  <li><a href="#TriplotGUI" id="toc-TriplotGUI" class="nav-link active" data-scroll-target="#TriplotGUI">1. TriplotGUI ‑ A molecular epidemiology toolbox for investigating associations between exposures, Omics and outcomes.</a></li>
  <li><a href="#MUVR" id="toc-MUVR" class="nav-link" data-scroll-target="#MUVR">2. MUVR 2, a variable selection and prediction tool that minimizes overfitting.</a></li>
  <li><a href="#SataTools" id="toc-SataTools" class="nav-link" data-scroll-target="#SataTools">3. StatTools, an R package of handy tools for data science</a></li>
  <li><a href="#Omics" id="toc-Omics" class="nav-link" data-scroll-target="#Omics">4. OMICs signatures linking persistent organic pollutants to cardiovascular disease in the Swedish Mammography Cohort</a></li>
  <li><a href="#four_cohort" id="toc-four_cohort" class="nav-link" data-scroll-target="#four_cohort">5. Using metabolomics to explore metabolic regulations that contribute to cardiovascular diseases, linking persistent organic pollutants, diet and microbiota, in four Nordic population-based cohorts</a></li>
  <li><a href="#ryeweight" id="toc-ryeweight" class="nav-link" data-scroll-target="#ryeweight">6. Effect of rye and wheat on the plasma metabolome and their associations to microbiota, a parallel-group randomized study (RyeWeight)</a></li>
  <li><a href="#longevity" id="toc-longevity" class="nav-link" data-scroll-target="#longevity">7. The association between plasma metabolites and future risk of all‑cause mortality</a></li>
  <li><a href="#VTE" id="toc-VTE" class="nav-link" data-scroll-target="#VTE">8. Exploring pathways linking obesity, lipid metabolites, and venous thromboembolism: an integration of cohort and mendelian randomization analyses</a></li>
  <li><a href="#chemistry" id="toc-chemistry" class="nav-link" data-scroll-target="#chemistry">9. Radiometric Near‑Infrared Fluorescent Nano‑probe for Hydrogen Sulfide Imaging</a></li>
  </ul>
<div class="toc-actions"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/project.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/project.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></nav>
</nav>
<div id="quarto-sidebar-glass" class="quarto-sidebar-collapse-item" data-bs-toggle="collapse" data-bs-target=".quarto-sidebar-collapse-item"></div>
<!-- margin-sidebar -->
    <div id="quarto-margin-sidebar" class="sidebar margin-sidebar zindex-bottom">
    </div>
<!-- main -->
<main class="content quarto-banner-title-block column-page-right" id="quarto-document-content">





<p>This page contains a brief overview of my projects, with many of the leads to publications.</p>
<section id="TriplotGUI" class="level3">
<h3 class="anchored" data-anchor-id="TriplotGUI">1. TriplotGUI ‑ A molecular epidemiology toolbox for investigating associations between exposures, Omics and outcomes.</h3>
<p><a href="https://yingxiao.shinyapps.io/triplotgui/" target="_blank">Shiny application </a> | <a href="https://yingxiaoyan.gitlab.io/triplotgui_tutorial" target="_blank">Website Tutorial</a> | <a href="https://gitlab.com/YingxiaoYan/TriplotGUI" target="_blank">GitLab</a> | <a href="https://pubs.acs.org/doi/10.1021/acs.est.3c06388" target="_blank"> Relevant Publication </a> | Ongoing project | Sole developer of the R package</p>
<!-- ::: {style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0; padding: 0; border: 0; line-height: 1;"} -->
<div>

</div>
<div class="quarto-layout-panel" data-layout="[ 70, 30 ]">
<div class="quarto-layout-row">
<div class="quarto-layout-cell" style="flex-basis: 70.0%;justify-content: flex-start;">
<p><strong>Description:</strong></p>
<p>TriplotGUI is a molecular epidemiology toolbox derived from the triplot package. It is designed to investigate associations between exposures, Omics, and outcomes. The package provides a convenient graphical user interface, allowing users to conduct analysis and visualization without programming knowledge.</p>
<p>The TriplotGUI manuscript is currently in submission.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conceptualized and designed the toolbox’s core functionalities</li>
<li>Developed robust data analysis &amp; visualization functions for exposure-Omics-outcome relationships</li>
<li>Developed both UI and server components in the shiny application</li>
<li>Conducted thorough testing to ensure reliability and performance</li>
<li>Created comprehensive Quarto website tutorial</li>
<li>Wrote and revised the accompanying manuscript</li>
</ul>
</div>
<div class="quarto-layout-cell" style="flex-basis: 30.0%;justify-content: flex-start;">
<p><img src="./img/TriplotGUI_logo_green.png" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://yingxiaoyan.gitlab.io/triplotgui_tutorial', 'blank');"></p>
</div>
</div>
</div>
<p>The following figure describe the workflow of TriplotGUI.</p>
<p><img src="./img/TriplotGUI_workflow.png" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://yingxiaoyan.gitlab.io/triplotgui_tutorial', 'blank');"></p>
<hr>
</section>
<section id="MUVR" class="level3">
<h3 class="anchored" data-anchor-id="MUVR">2. MUVR 2, a variable selection and prediction tool that minimizes overfitting.</h3>
<p><a href="https://cran.r-project.org/web/packages/MUVR2/index.html" target="_blank">CRAN </a> | <a href="https://academic.oup.com/bioinformaticsadvances/article/4/1/vbae051/7641000" target="_blank">Publication </a> | <a href="https://gitlab.com/YingxiaoYan/MUVR2" target="_blank">GitLab</a> | <a href="https://gitlab.com/YingxiaoYan/MUVR2/-/blob/master/inst/Tutorial/MUVR2_tutorial.pdf" target="_blank">Tutorial</a> | Main developer of the R package</p>
<div>

</div>
<div class="quarto-layout-panel" data-layout="[ 50, 50 ]">
<div class="quarto-layout-row">
<div class="quarto-layout-cell" style="flex-basis: 50.0%;justify-content: flex-start;">
<p><strong>Description:</strong></p>
<p>The MUVR2 package performs unbiased variable selection in Omics data, identifying variables most predictive of specific exposures or outcomes. It integrates partial least squares (PLS), random forest (RF), and elastic net (EN) as core machine learning methods. MUVR2 also introduces resampling tests as an extension of permutation tests, providing a general framework for assessing modeling performance and overfitting. MUVR2 stands as a powerful tool in the field of multivariate data analysis, particularly suited for the challenges presented by high-dimensional Omics data.</p>
</div>
<div class="quarto-layout-cell" style="flex-basis: 50.0%;justify-content: flex-start;">
<img src="./img/MUVR_pic.png" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://gitlab.com/YingxiaoYan/MUVR2');">
<p style="margin-left: 20px;">
Compared to the MUVR package, the new functionalities of MUVR2 is in red color.
</p>
</div>
</div>
</div>
<p><strong>What I did:</strong></p>
<ul>
<li>Developed robust functions for variable selection and prediction</li>
<li>Conducted thorough testing to ensure reliability and performance</li>
<li>Created comprehensive tutorial for user guidance</li>
<li>Wrote and revised the accompanying manuscript and published the package on CRAN</li>
</ul>
<hr>
</section>
<section id="SataTools" class="level3">
<h3 class="anchored" data-anchor-id="SataTools">3. StatTools, an R package of handy tools for data science</h3>
<p><a href="https://gitlab.com/YingxiaoYan/StatTools" target="_blank">GitLab</a> | Ongoing project | Main developer of the package</p>
<p><strong>Description:</strong></p>
<p>The StatTools package offers a suite of convenient functions for data manipulation, statistical analysis, and visualization, designed to enhance data analysis workflows across various research projects. This versatile toolkit streamlines common tasks, making it an invaluable resource for researchers.</p>
<p>Originally forked from <a href="https://gitlab.com/CarlBrunius/StatTools" target="_blank">Carl Brunius’ StatTools</a> package, the current version has been under active development since 2022.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conceptualized and designed the toolbox’s functionalities</li>
<li>Developed robust statistical data analysis and visualization functions</li>
<li>Continuously refined and optimized existing functions</li>
</ul>
</section>
<section id="Omics" class="level3">
<h3 class="anchored" data-anchor-id="Omics">4. OMICs signatures linking persistent organic pollutants to cardiovascular disease in the Swedish Mammography Cohort</h3>
<p><a href="https://pubs.acs.org/doi/10.1021/acs.est.3c06388" target="_blank">Publication</a></p>
<div>

</div>
<div class="quarto-layout-panel" data-layout="[ 40, 60 ]">
<div class="quarto-layout-row">
<div class="quarto-layout-cell" style="flex-basis: 40.0%;justify-content: flex-start;">
<p><strong>Description:</strong></p>
<p>Our study investigates the complex relationships between persistent organic pollutants (POPs), metabolomics profiles, and cardiovascular disease (CVD) risk in a large cohort of Swedish women. Using advanced multi-omics approaches, we identified specific metabolic signatures associated with POP exposure and increased CVD risk. Our findings provide new insights into the potential mechanisms by which environmental pollutants may contribute to cardiovascular health outcomes, highlighting the importance of integrating environmental exposure data with molecular profiling in epidemiological research.</p>
</div>
<div class="quarto-layout-cell" style="flex-basis: 60.0%;justify-content: flex-start;">
<p><img src="./img/Omics_pic.png" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://pubs.acs.org/doi/10.1021/acs.est.3c06388');"></p>
</div>
</div>
</div>
<p><strong>What I did:</strong></p>
<ul>
<li>Conducted machine learning and univariate analysis to identify metabolite features associated with pollutants and cardiovascular diseases</li>
<li>Led the identification and interpretation of key metabolic features</li>
<li>Wrote significant portions of the manuscript and participated in the revision</li>
</ul>
<hr>
</section>
<section id="four_cohort" class="level3">
<h3 class="anchored" data-anchor-id="four_cohort">5. Using metabolomics to explore metabolic regulations that contribute to cardiovascular diseases, linking persistent organic pollutants, diet and microbiota, in four Nordic population-based cohorts</h3>
<p>Ongoing project | Manuscript</p>
<p><strong>Description:</strong></p>
<p>This project aims to evaluate how combined exposures (diet, microbiota, and persistent organic pollutants (POPs)) regulate metabolic pathways and how this regulation relates to cardiovascular diseases (CVDs), in particular myocardial infarction and stroke, using a combination of machine learning and epidemiological modeling. Four cohorts with data on diet, POPs, microbiota, metabolome, CVD outcomes are used for discovery and replication: The BioDiVa subcohort of the Västerbotten Intervention Project, the SIMPLER-Uppsala Clinical cohort (SIMPLER-UC), SIMPLER-Västerås Clinical cohort (SIMPLER-VC), and the Danish Cancer and Health – Next Generations MAX validation subcohort.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Main contributor of the project</li>
<li>Conceptualized study design, ensuring robust methodology</li>
<li>Managed project administration, coordinating efforts for data acquisition</li>
<li>Conducted machine learning and univariate analysis to identify metabolite features linking exposome and cardiovascular diseases across cohorts for discovery and replication</li>
<li>Wrote and revised the manuscript</li>
</ul>
<hr>
</section>
<section id="ryeweight" class="level3">
<h3 class="anchored" data-anchor-id="ryeweight">6. Effect of rye and wheat on the plasma metabolome and their associations to microbiota, a parallel-group randomized study (RyeWeight)</h3>
<p>Ongoing project | Manuscript</p>
<p><strong>Description:</strong></p>
<p>This study investigates the effects of rye and wheat interventions on the untargeted plasma metabolome and their relationship to clinical variables, plasma short-chain fatty acids (SCFAs), and fecal microbiota. We aim to elucidate the molecular mechanisms underlying rye’s health benefits, which remain largely unexplored. Additionally, we seek to identify metabolomic and microbial predictors of weight loss, building on previous findings that suggest microbiota can predict weight loss in rye interventions. This research promises to deepen our understanding of rye’s physiological impacts and its potential role in weight management.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conducted machine learning and univariate analysis to identify metabolite features that are associated with rye/wheat intervention</li>
<li>Led the identification of the selected key metabolic features</li>
<li>Wrote significant portions of the manuscript and participated in the revision</li>
</ul>
<hr>
</section>
<section id="longevity" class="level3">
<h3 class="anchored" data-anchor-id="longevity">7. The association between plasma metabolites and future risk of all‑cause mortality</h3>
<p><a href="https://onlinelibrary.wiley.com/doi/10.1111/joim.13540" target="_blank">Publication</a></p>
<div>

</div>
<div class="quarto-layout-panel" data-layout="[ 70, 30 ]">
<div class="quarto-layout-row">
<div class="quarto-layout-cell" style="flex-basis: 70.0%;justify-content: flex-start;">
<p><strong>Description:</strong></p>
<p>This study investigates the relationship between plasma metabolites and the risk of all-cause mortality, providing new insights into potential biomarkers for predicting long-term health outcomes. Using advanced metabolomics techniques, we analyzed plasma samples from a large cohort and identified specific metabolic profiles associated with increased mortality risk. Our findings contribute to the growing field of precision medicine by highlighting potential metabolic pathways that may influence overall health and longevity.</p>
</div>
<div class="quarto-layout-cell" style="flex-basis: 30.0%;justify-content: flex-start;">
<p><img src="./img/longevity_pic.png" style="height: 100%; width: 100%; object-fit: contain" onclick="window.open('https://onlinelibrary.wiley.com/doi/10.1111/joim.13540');"></p>
</div>
</div>
</div>
<p><strong>What I did:</strong></p>
<ul>
<li>Main contributor of the project</li>
<li>Spearheaded data curation efforts, ensuring data quality and consistency across cohorts</li>
<li>Conducted survival analysis to identify metabolites associated with all-cause mortality</li>
<li>Wrote and revised the manuscript</li>
</ul>
</section>
<section id="VTE" class="level3">
<h3 class="anchored" data-anchor-id="VTE">8. Exploring pathways linking obesity, lipid metabolites, and venous thromboembolism: an integration of cohort and mendelian randomization analyses</h3>
<p>Ongoing project | Manuscript</p>
<p><strong>Description:</strong></p>
<p>This study investigates the molecular mechanisms underlying the established link between obesity and venous thromboembolism (VTE). While obesity is a known risk factor for VTE, the specific metabolic pathways mediating this relationship remain unclear. Our research employs both survival and Mendelian randomization analyses to explore how body mass index and waist circumference influence VTE risk through various metabolite pathways.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Conceptualized study design, ensuring robust methodology</li>
<li>Conducted survival analysis and Mendelian randomization</li>
<li>Wrote and revised the manuscript</li>
</ul>
<hr>
</section>
<section id="chemistry" class="level3">
<h3 class="anchored" data-anchor-id="chemistry">9. Radiometric Near‑Infrared Fluorescent Nano‑probe for Hydrogen Sulfide Imaging</h3>
<p><a href="https://link.springer.com/article/10.1007/s11426-019-9689-4" target="_blank">Publication</a></p>
<p><strong>Description:</strong></p>
<p>This study introduces a novel near-infrared fluorescent probe for the real-time imaging of hydrogen sulfide (H2S) in living systems. We developed a unique radiometric probe that exhibits a significant spectral shift upon reaction with H2S, allowing for highly sensitive and selective detection of this important gasotransmitter. Our probe demonstrates excellent cell permeability and low cytotoxicity, making it suitable for biological applications.</p>
<p><strong>What I did:</strong></p>
<ul>
<li>Assisted in critical laboratory work, supporting the development and testing of the novel nano-probe</li>
</ul>


</section>

</main> <!-- /main -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
    var localhostRegex = new RegExp(/^(?:http|https):\/\/localhost\:?[0-9]*\//);
    var mailtoRegex = new RegExp(/^mailto:/);
      var filterRegex = new RegExp("https:\/\/yingxiaoyan\.gitlab\.io\/YingxiaoYan\.com\/");
    var isInternal = (href) => {
        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);
    }
    // Inspect non-navigation links and adorn them if external
 	var links = window.document.querySelectorAll('a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool):not(.about-link)');
    for (var i=0; i<links.length; i++) {
      const link = links[i];
      if (!isInternal(link.href)) {
        // undo the damage that might have been done by quarto-nav.js in the case of
        // links that we want to consider external
        if (link.dataset.originalHref !== undefined) {
          link.href = link.dataset.originalHref;
        }
      }
    }
  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {
    const config = {
      allowHTML: true,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start',
    };
    if (contentFn) {
      config.content = contentFn;
    }
    if (onTriggerFn) {
      config.onTrigger = onTriggerFn;
    }
    if (onUntriggerFn) {
      config.onUntrigger = onUntriggerFn;
    }
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      // use id or data attribute instead here
      let href = ref.getAttribute('data-footnote-href') || ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      if (note) {
        return note.innerHTML;
      } else {
        return "";
      }
    });
  }
});
</script>
</div> <!-- /content -->
<footer class="footer">
  <div class="nav-footer">
    <div class="nav-footer-left">
<p><span class="faux-block">© 2024 Yingxiao Yan CC BY-SA 4.0</span></p>
</div>   
    <div class="nav-footer-center">
<p><span class="faux-block"><a href="https://gitlab.com/YingxiaoYan" target="_blank">My gitlab</a></span></p>
<div class="toc-actions d-sm-block d-md-none"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/project.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/project.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></div>
    <div class="nav-footer-right">
<p><span class="faux-block cyan"><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com" target="_blank">View source on GitLab</a></span></p>
</div>
  </div>
</footer>




<script src="site_libs/quarto-html/zenscroll-min.js"></script>
</body></html>