<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.5.57">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<meta name="description" content="Epidemiologist | PhD researcher | Machine learning, computational metabolomics">

<title>Publication &amp; honor – Yingxiao Yan </title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ 
  vertical-align: middle;
}
</style>


<script src="site_libs/quarto-nav/quarto-nav.js"></script>
<script src="site_libs/clipboard/clipboard.min.js"></script>
<script src="site_libs/quarto-search/autocomplete.umd.js"></script>
<script src="site_libs/quarto-search/fuse.min.js"></script>
<script src="site_libs/quarto-search/quarto-search.js"></script>
<meta name="quarto:offset" content="./">
<link href="./img/archery.jpg" rel="icon" type="image/jpeg">
<script src="site_libs/quarto-html/quarto.js"></script>
<script src="site_libs/quarto-html/popper.min.js"></script>
<script src="site_libs/quarto-html/tippy.umd.min.js"></script>
<script src="site_libs/quarto-html/anchor.min.js"></script>
<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">
<script src="site_libs/bootstrap/bootstrap.min.js"></script>
<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/all.css" rel="stylesheet">
<link href="site_libs/quarto-contrib/fontawesome6-0.1.0/latex-fontsize.css" rel="stylesheet">
<script id="quarto-search-options" type="application/json">{
  "location": "navbar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "end",
  "type": "textbox",
  "limit": 50,
  "keyboard-shortcut": [
    "f",
    "/",
    "s"
  ],
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-text-placeholder": "",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}</script>
<style>html{ scroll-behavior: smooth; }</style>
<style>

      .quarto-title-block .quarto-title-banner h1,
      .quarto-title-block .quarto-title-banner h2,
      .quarto-title-block .quarto-title-banner h3,
      .quarto-title-block .quarto-title-banner h4,
      .quarto-title-block .quarto-title-banner h5,
      .quarto-title-block .quarto-title-banner h6
      {
        color: white;
      }

      .quarto-title-block .quarto-title-banner {
        color: white;
      }
</style>


<link rel="stylesheet" href="styles.scss">
<meta property="og:title" content="Publication &amp; honor – Yingxiao Yan ">
<meta property="og:description" content="Publications | Honors | Certificates">
<meta property="og:image" content="https://yingxiaoyan.gitlab.io/YingxiaoYan.com/img/archery.jpg">
<meta property="og:site_name" content="Yingxiao Yan {{< fa brands gitlab >}}">
</head>

<body class="floating nav-fixed">

<div id="quarto-search-results"></div>
  <header id="quarto-header" class="headroom fixed-top quarto-banner">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
      <div class="navbar-container container-fluid">
      <div class="navbar-brand-container mx-auto">
    <a href="./index.html" class="navbar-brand navbar-brand-logo">
    <img src="./img/formal.jpg" alt="" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="./index.html">
    <span class="navbar-title">Yingxiao Yan <i class="fa-brands fa-gitlab" aria-label="gitlab"></i></span>
    </a>
  </div>
            <div id="quarto-search" class="" title="Search"></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" role="menu" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">
  <span class="navbar-toggler-icon"></span>
</button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
  <li class="nav-item">
    <a class="nav-link" href="./education.html"> 
<span class="menu-text">Education</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./about.html"> 
<span class="menu-text">Work</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./project.html"> 
<span class="menu-text">Projects</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link active" href="./pub_ho.html" aria-current="page"> 
<span class="menu-text">Publications/Honors</span></a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="./CV.html"> 
<span class="menu-text">CV</span></a>
  </li>  
</ul>
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
  <li class="nav-item compact">
    <a class="nav-link" href="https://yingxiaoyan.gitlab.io/YingxiaoYan.com" target="_blank"> <i class="bi bi-folder-symlink" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="https://www.linkedin.com/in/yingxiao-yan" target="_blank"> <i class="bi bi-linkedin" role="img">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item compact">
    <a class="nav-link" href="mailto:yingxiao.yan.007@gmail.com" target="_blank"> <i class="bi bi-envelope" role="img" aria-label="email">
</i> 
<span class="menu-text"></span></a>
  </li>  
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="nav-menu-get-in-touch" role="link" data-bs-toggle="dropdown" aria-expanded="false">
 <span class="menu-text">get in touch!</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-menu-get-in-touch">    
        <li>
    <a class="dropdown-item" href="https://www.linkedin.com/in/yingxiao-yan/" target="_blank"><i class="bi bi-linkedin" role="img">
</i> 
 <span class="dropdown-text">Linkedin</span></a>
  </li>  
        <li>
    <a class="dropdown-item" href="mailto:yingxiao.yan.007@gmail.com"><i class="bi bi-envelope" role="img">
</i> 
 <span class="dropdown-text">email</span></a>
  </li>  
    </ul>
  </li>
</ul>
          </div> <!-- /navcollapse -->
            <div class="quarto-navbar-tools">
</div>
      </div> <!-- /container-fluid -->
    </nav>
</header>
<!-- content -->
<header id="title-block-header" class="quarto-title-block default toc-left page-columns page-full">
  <div class="quarto-title-banner page-columns page-full">
    <div class="quarto-title column-page-right">
      <h1 class="title">Publication &amp; honor</h1>
            <p class="subtitle lead">Publications | Honors | Certificates</p>
                      </div>
  </div>
    
  
  <div class="quarto-title-meta column-page-right">

      
    
      
    </div>
    
  
  </header><div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-full page-navbar">
<!-- sidebar -->
  <nav id="quarto-sidebar" class="sidebar collapse collapse-horizontal quarto-sidebar-collapse-item sidebar-navigation floating overflow-auto">
    <nav id="TOC" role="doc-toc" class="toc-active">
    <h2 id="toc-title">Overview</h2>
   
  <ul>
  <li><a href="#publications" id="toc-publications" class="nav-link active" data-scroll-target="#publications"><i class="fa-solid fa-book-journal-whills" aria-label="book-journal-whills"></i> Publications</a></li>
  <li><a href="#conference-and-awards" id="toc-conference-and-awards" class="nav-link" data-scroll-target="#conference-and-awards"><i class="fa-solid fa-award" aria-label="award"></i> Conference and awards</a></li>
  </ul>
<div class="toc-actions"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/pub_ho.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/pub_ho.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></nav>
</nav>
<div id="quarto-sidebar-glass" class="quarto-sidebar-collapse-item" data-bs-toggle="collapse" data-bs-target=".quarto-sidebar-collapse-item"></div>
<!-- margin-sidebar -->
    <div id="quarto-margin-sidebar" class="sidebar margin-sidebar zindex-bottom">
    </div>
<!-- main -->
<main class="content quarto-banner-title-block column-page-right" id="quarto-document-content">





<div class="small-text">
<p>Check out my <a href="./CV.html">CV</a>.</p>
</div>
<section id="publications" class="level3">
<h3 class="anchored" data-anchor-id="publications"><i class="fa-solid fa-book-journal-whills" aria-label="book-journal-whills"></i> Publications</h3>
<p><strong>Yan Y</strong>, Schillemans T, Skantze V &amp; Brunius C. <a href="https://academic.oup.com/bioinformaticsadvances/article/4/1/vbae051/7641000" target="_blank">Adjusting for covariates and assessing modeling fitness in machine learning using MUVR2.</a> <em>Bioinformatics Advances</em>. 2024;4(1):vbae051.</p>
<p><strong>Yan Y</strong>, Smith E, Melander O, Ottosson F. <a href="https://onlinelibrary.wiley.com/doi/10.1111/joim.13540" target="_blank">The association between plasma metabolites and future risk of all‐cause mortality.</a> <em>Journal of Internal Medicine</em>. 2022;292(5):804-815. <br></p>
<p>Schillemans T, <strong>Yan Y</strong>, Ribbenstedt A, Donat-Vargas C, Lindh C, Kivirante H, Wolk A, et al.&nbsp;<a href="https://pubs.acs.org/doi/10.1021/acs.est.3c06388" target="_blank"> OMICs signatures linking persistent organic pollutants to cardiovascular disease in the Swedish Mammography Cohort</a>. <em>Environmental Science &amp; Technology</em>. 2024:58(2):1036-1047.</p>
<p>Wu L, Zeng W, Feng L, Hu Y, Sun Y, <strong>Yan Y</strong>, Chen H &amp; Ye D. <a href="https://link.springer.com/article/10.1007/s11426-019-9689-4" target="_blank">An activatable radiometric near-inflared fluorescent probe for hydrogen sulfide imaging in vivo.</a> <em>Science China Chemistry</em>. 2020;63(5):741-750. <br></p>
</section>
<section id="conference-and-awards" class="level3">
<h3 class="anchored" data-anchor-id="conference-and-awards"><i class="fa-solid fa-award" aria-label="award"></i> Conference and awards</h3>
<ul>
<li>
<a href="https://www.nugoweek2024.com/" target="_blank">NuGOweek 2024 - Integrating Nutritional Omics into A Healthy Diet</a>, Ghent, Belgium.<br> <em>- Poster presentation</em>
</li>
<li>
<a href="https://nmetc2024.fi/" target="_blank">Nordic Metabolomics Conference 2024</a>, Turku, Finland. <br><em>- Speaker, with award: </em> TriplotGUI, A Molecular Epidemiology Toolbox for Investigating Associations between Exposome, Metabolome and Outcomes
</li>
<li>
<a href="https://events.linuxfoundation.org/user/" target="_blank">useR!, 2024</a>, Salzburg, Austria.
</li>
<li>
<a href="https://nordicepi2024.dk/" target="_blank">Nordic Epidemiology Conference 2024</a>, Copenhagen, Danmark. <br><em>- Poster presentation</em>
</li>
<li>
<a href="https://www.shinyconf.com/" target="_blank">ShinyConf 2024</a>, Virtual Conference.
</li>
<li>
<a href="https://www.ntnu.edu/isb/nmc2023" target="_blank">Nordic Metabolomics Conference 2023</a>, Trondheim, Norway. <br><em>- Speaker, with award: </em> Adjusting for covariates and assessing modeling fitness in machine learning using MUVR 2.0
</li>
<li>
<a href="https://www.metabolomics2022.org/" target="_blank">Metabolomics 2022</a>, Valencia, Spain. <br><em>- Speaker, with award: </em> Using OMICs to explore underlying pathways linking persistent organic pollutant exposures to cardiovascular disease in the Swedish Mammography Cohort
</li>
<li>
<a href="https://www.sbw2022.com/" target="_blank">Swedish Bioinformatics workshop 2022</a>, Umeå, Sweden. <br><em>- Speaker: </em> MUVR2.0, a multivariate analysis tool for variable selection and prediction that minimizes overfitting across modelling strategies.
</li>
<!-- <li>Nordic rye forum 2022, Stockholm, Sweden <em>- Speaker</em></li> -->
</ul>
<!-- ###  Certificates -->
<!-- <ul> -->
<!-- <li>SAS programmer <em>- Coursera</em></li> -->
<!-- </ul> -->


</section>

</main> <!-- /main -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
    var localhostRegex = new RegExp(/^(?:http|https):\/\/localhost\:?[0-9]*\//);
    var mailtoRegex = new RegExp(/^mailto:/);
      var filterRegex = new RegExp("https:\/\/yingxiaoyan\.gitlab\.io\/YingxiaoYan\.com\/");
    var isInternal = (href) => {
        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);
    }
    // Inspect non-navigation links and adorn them if external
 	var links = window.document.querySelectorAll('a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool):not(.about-link)');
    for (var i=0; i<links.length; i++) {
      const link = links[i];
      if (!isInternal(link.href)) {
        // undo the damage that might have been done by quarto-nav.js in the case of
        // links that we want to consider external
        if (link.dataset.originalHref !== undefined) {
          link.href = link.dataset.originalHref;
        }
      }
    }
  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {
    const config = {
      allowHTML: true,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start',
    };
    if (contentFn) {
      config.content = contentFn;
    }
    if (onTriggerFn) {
      config.onTrigger = onTriggerFn;
    }
    if (onUntriggerFn) {
      config.onUntrigger = onUntriggerFn;
    }
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      // use id or data attribute instead here
      let href = ref.getAttribute('data-footnote-href') || ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      if (note) {
        return note.innerHTML;
      } else {
        return "";
      }
    });
  }
});
</script>
</div> <!-- /content -->
<footer class="footer">
  <div class="nav-footer">
    <div class="nav-footer-left">
<p><span class="faux-block">© 2024 Yingxiao Yan CC BY-SA 4.0</span></p>
</div>   
    <div class="nav-footer-center">
<p><span class="faux-block"><a href="https://gitlab.com/YingxiaoYan" target="_blank">My gitlab</a></span></p>
<div class="toc-actions d-sm-block d-md-none"><ul><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/edit/main/pub_ho.qmd" class="toc-action"><i class="bi bi-git"></i>Edit this page</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/blob/main/pub_ho.qmd" class="toc-action"><i class="bi empty"></i>View source</a></li><li><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com/issues/new" class="toc-action"><i class="bi empty"></i>Report an issue</a></li></ul></div></div>
    <div class="nav-footer-right">
<p><span class="faux-block cyan"><a href="https://gitlab.com/YingxiaoYan/YingxiaoYan.com" target="_blank">View source on GitLab</a></span></p>
</div>
  </div>
</footer>




<script src="site_libs/quarto-html/zenscroll-min.js"></script>
</body></html>